<div class="container list-box">
<h2 style="padding-left: 20px">Resources:</h2>
<br>
  <ul>
    <li><a class="resource" href="http://www.seattle.gov/utilities/services/where-does-it-go" target="_blank" rel="noopener noreferrer">Seattle.gov - Where Does It Go?</a></li>
    <li><a class="resource" href="https://www.recycleguide.org/seattle-wa-recycles/" target="_blank" rel="noopener noreferrer">Recycle Guide - Seattle Recycles Too</a></li>
    <li><a class="resource" href="https://www.kingcounty.gov/~/media/depts/dnrp/solid-waste/garbage-recycling/documents/recycling-yardwaste-food-garbage-guide.ashx?la=en" target="_blank" rel="noopener noreferrer">King County Garbage/Recycling Guide</a></li>
    <li><a class="resource" href="https://www.seattletimes.com/seattle-news/what-do-i-do-with-a-guide-to-trash-sorting-in-seattle/" target="_blank" rel="noopener noreferrer">Seattle Times - What Do I Do With . . ?</a></li>
    <li><a class="resource"  href="http://www.myyp.com/guide/Seattle,WA/Recycling-Guide" target="_blank" rel="noopener noreferrer">Valley Yellow Pages Recycling Guide</a></li>
  </ul>

</div>
