<% if logged_in %>
  <% @user = User.find(session[:user_id]) %>
<% end %>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-nav">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="/green_up_logo.svg" alt="Green Up Seattle Logo"></a>
      <div class="navbar-links">
        <a class="navbar-text" href="/hoods">Hoods</a>
        <a class="navbar-text" href="/games">Play Game</a>
        <a class="navbar-text" href="/resources">Resources</a>
        <% if logged_in %>
        <a class="navbar-text" href="/logout">Logout</a>
        <a class="navbar-text" href="/users/<%= @user.id %>"><i class="fas fa-user-circle"></i> &nbsp;<%= @user.username %></a>
        <% else %>
        <a class="navbar-text" href='/'>Log In</a>
        <% end %>
      </div>
    </div>
  </div>
</nav>
