<div class="game-intro">

<% if session[:message] %>
  <h3 class="message"><%= session[:message] %></h3>
<% end %>

<h3>Thanks for playing!</h3>
<br>
<h4>You Greened Up your neighborhood by <%= session[:points] %> points!</h4>
<br>
<h4> <%= @hood.name %> now has a total of <%= @hood.hood_score %> points.</h4>
<br>
<center><a href='/games' class="btn btn-success">PLAY AGAIN</a> &nbsp; <a href='/hoods' class="btn btn-primary">See Your Hood's Rank</a></center>

</div>
