  <h1>Bin It to Win It!</h1>

  <% if logged_in %>
  <div class="game-intro">

  <h3>Confused about where your garbage should go?</h3>
  <h4>Play 'Bin It to Win It' to improve your trash tossing skills and help fight misplaced waste to Green Up your neighborhood!</h4>

<h4>Instructions:</h4>

    <p>Each round you will be shown a common waste item.</p>
    <p>Select the correct bin and get 10 points!</p>
    <p>You'll have <%= @num_rounds %> rounds to test your knowledge.</p>
    <p>The more points you get, the greener your 'hood gets!</p>
    <p>Press start to play!</p>


  <center><a href='/games/round' class="btn btn-success">START</a></center>
</div>
<% else %>
  <h3 class="message">You must <a href='/'>log in</a> to play!</h3>

<% end %>
