<h1>This is the game</h1>

<p>Here are the rules to the game.</p>

<<ol>
  <li>The item.</li>
  <li>Pick the right place to dispose of the item.</li>
  <li>Get _ points for each right answer.</li>
  <li>There are _ rounds.</li>
  <li>Good luck!</li>
</ol>>
