/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"
@import "bootstrap"

$happy-green: #7CBD31

body
  font-family: 'Lato', sans-serif

.col-sm
  border: 1px solid red

.username
  color: white

.navbar-default
  // border: 1px solid yellow
  background: #8cc63f
  text-align: left
  vertical-align: middle

.navbar-default .navbar-text

  font-family: 'PT Sans', sans-serif
  color: $happy-green
  &:hover
    color: #5A9B29
    text-decoration: none

.container
  // border: 1px solid red

.container-form
  // border: 1px solid red
  text-align: center

.label_class
  // border: 1px solid red
  text-align: right
  padding-right: 10px

.field_class
  // border: 1px solid red
  text-align: left
  // align-content: left
  padding-left: 10px

.container-nav
  color: #f2f2f2
  &:hover
    color: #009444
    text-decoration: none

.container
  // float: left
  // border: 1px solid teal
  // width: 100%

.navbar-header
  // border: 1px solid red
  // float: left
  padding: 0px
  width: 100%

.navbar-brand
  // float: left
  display: inline-block
  height: 100%

.navbar-brand img
  // border: 1px solid green
  vertical-align: middle
  // margin-left: 20px

.navbar-links
  float: right
  font-size: 18px

.navbar-text a
  display: inline-block
  height: 100%
  vertical-align: middle

.navbar-text
  // border: 1px solid blue
  text-shadow: 0 0 1.25px white
  color: white
  
.message
  text-align: center
  color: $happy-green
  margin: 15

.footer
  position: absolute
  bottom: 0
  width: 100%
  height: 60px
  line-height: 60px
  // background-color: #f5f5f5
  background-image: url("/seattle-skyline-long.svg")
  background-repeat: repeat-x
  z-index: -1
