/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets"
@import "bootstrap"

$happy-green: #009444

// ------- MAIN ------------

h1
  color: $happy-green
  font-weight: bold
  text-align: center
  padding: 10px

h2
  background-color: $happy-green
  color: white
  padding: 4px

h3
  color: $happy-green
  font-weight: bold

body
  font-family: 'Lato', sans-serif
  background-color: rgba(109, 208, 247, 0.4)

.index-page
  text-align: center

.username
  color: white

.col-sm
  border: 1px solid red

.navbar-default
  // border: 1px solid yellow
  background: #8cc63f
  text-align: left
  vertical-align: middle

.navbar-default .navbar-text
  font-family: 'PT Sans', sans-serif
  color: white
  &:hover
    color: $happy-green
    text-decoration: none

.container-form
  // border: 1px solid red
  text-align: center

.intro
  padding: 30px
  max-width: 700px
  background-color: white
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)


.label_class
  // border: 1px solid red
  text-align: right
  padding-right: 10px

.field_class
  // border: 1px solid red
  text-align: left
  // align-content: left
  padding-left: 10px

// ---------- HOODS ---------------

.hood-list
  text-decoration: none
  // list-style-type: none
  // &:hover
  //   text-decoration: none
  //   color: $happy-green

.hood .container
  width: 200px
  align: center
  margin: auto

.map-image
  height: 460px
  padding-left: 40px

.show
  background-color: rgba(255, 255, 255, 0.75)
  max-width: 600px
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  margin: auto
  margin-bottom: 30px
  text-align: center
  padding: 0px 0px 30px 0px

.hoods-box
  border: 1px solid black
  border-radius: 10px
  padding: 20px
  margin: auto
  width: 800px
  height: auto
  text-align: left
  background-color: rgb(232, 232, 232)

// ----------- USER ---------------

.profile
  background-color: white
  max-width: 600px
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  margin: auto
  text-align: center
  padding: 25px

.underline
  text-decoration: underline


// ----------- LOGIN & CREATE ---------------

.log-in-box
  border: 1px solid black
  border-radius: 10px
  padding: 20px
  margin: auto
  width: 400px
  text-align: center
  background-color: #ddd

.create-box
  border: 1px solid black
  border-radius: 10px
  padding: 20px
  margin: auto
  width: 700px
  height: auto
  background-color: #ddd


// ----------- NAVIGATION ----------------

.container-nav
  color: #f2f2f2
  &:hover
    color: #009444
    text-decoration: none

.navbar-header
  // border: 1px solid red
  // float: left
  padding: 0px
  width: 100%

.navbar-brand
  // float: left
  display: inline-block
  height: 100%

.navbar-brand img
  // border: 1px solid green
  vertical-align: middle
  // margin-left: 20px

.navbar-links
  float: right
  font-size: 18px
  vertical-align: middle
  padding: 10px

.navbar-text a
  // display: inline-block
  // height: 100%

.navbar-text
  // border: 1px solid white
  color: white
  // vertical-align: middle

// ----------- FOOTER ----------------

.footer
  position: fixed
  bottom: 0
  width: 100%
  height: 90px
  // background-color: #f5f5f5
  background-image: url("/seattle-skyline-long.svg")
  background-repeat: repeat-x
  z-index: -100

// ----------- MESSAGES ----------------

.message
  text-align: center
  color: $happy-green
  margin: 15

.error
  color: red

// --------- GAME --------------------

.game-intro
  border: none
  // border-radius: 20px
  background-color: #DDF1B5
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  padding: 20px 40px
  margin: auto
  width: 600px
  text-align: center

.game-round
  margin: auto
  padding: 20px 40px
  text-align: center
  width: 600px
  // border-radius: 20px
  background-color: #DDF1B5
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)


.wastepic
  max-height: 220px
  max-width: 500px
  height: auto
  width: auto
  border: 2px solid $happy-green
  border-radius: 20px
  background-color: white

.answer-button
  width: 50px
  height: 50px
  border-radius: 5px


// --------- RESOURCES --------------------

.resource
  text-decoration: none
  font-size: 1.5em
  color: $happy-green
  &:hover
    color: #8cc63f
    text-decoration: none

.list-box
  background-color: white
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  padding-bottom: 40px
  max-width: 800px
